fastapi
uvicorn
python-multipart
motor
python-dotenv
langchain
langchain-community
langgraph
sentence-transformers
panel
faiss-cpu
requests
pdfminer.six
langgraph[mongodb]
pymongo

# LangChain and related
openai

# PDF handling
PyMuPDF

# Web scraping
beautifulsoup4
requests

# For OpenReview API
openreview-py